@import "tailwindcss";

:root {
  --accent: #cfff04;
  --dark: #1a1a1a;
  --light: #fafafa;
  --background: #fefefe;
  --border: #e3e3e3;
}

@theme {
  --color-accent: var(--accent);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-background: var(--background);
  --color-border: var(--border);
}

body {
  font-family: var(--font-tiktok-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mona-sans);
}

.hero-gradient {
  background: #0e0e0f;
  background: linear-gradient(
    0deg,
    rgba(14, 14, 15, 1) 0%,
    rgba(255, 255, 255, 0) 35%
  );
}
