@import "tailwindcss";

:root {
  --accent: #cfff04;
  --dark: #1a1a1a;
  --light: #fafafa;
  --background: #fefefe;
  --border: #e3e3e3;
}

@theme {
  --color-accent: var(--accent);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-background: var(--background);
  --color-border: var(--border);
}

@utility container {
  padding: 0 24px;
  margin-inline: auto;
}

@utility section-padding-y {
  @apply py-24 lg:py-36 xl:py-48;
}

@utility section-padding-b {
  @apply pb-24 lg:pb-36 xl:pb-48;
}

@utility title-component-padding-b {
  @apply pb-10 md:pb-12 lg:pb-16 xl:pb-24 2xl:pb-28;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-tiktok-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mona-sans);
}

.swiper-wrapper {
  height: auto !important;
}
.swiper-slide {
  height: auto !important;
  align-self: stretch !important;
}

.hero-gradient {
  background: #0e0e0f;
  background: linear-gradient(
    0deg,
    rgba(14, 14, 15, 1) 0%,
    rgba(255, 255, 255, 0) 35%
  );
}
